@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
}

 /* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.formTitle{
  text-align: center;
}
.table {
  margin: 50px auto;
  width: 80%;
  overflow: hidden;
  background: #fff;
  color: #024457;
  border-radius: 10px;
  border: 2px solid #167f92;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputField {
  min-width: 100%;
  height: auto;
  margin: 1%;
}
.inputField td {
  min-width: 98%;
  display: flex;

  padding: 20px;
}
h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: left;
}

/* Styling for table cells */
.table td {
  border: 1px solid #dee2e6;
  padding: 10px;
  align-items: flex-start;
}

/* Styling for questions */
.question {
  background-color: #e9ecef;
}

.question h3 {
  margin: 0;
  padding: 10px 16px;
}

.form-check {
  margin-right: 10px;
}

/* Adjustments for radio buttons and labels */
.form-check-input {
  margin-top: 0;
  transform: scale(1.5);
}

td:last-child {
  color: #007bff;
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  text-align: left;
}

.question h3 {
  margin: 0;
  color: #333;
  font-weight: 500;
}

/* Answer row styling */
.answer {
  color: #555;
  font-weight: 400;
}

.form-check-input {
  margin-right: 10px;
}
.comments {
  margin-right: 20px;
  margin-bottom: 900px;
}
textarea {
  width: 60%;

  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

td[colspan="2"] {
  width: 20%;
}

.answer-text {
  width: 80%;
  padding-right: 10px;
}

.answer-radio {
  text-align: center;
  width: 5%;
}

.form-check-input {
  display: inline-block;
}


.score {
  text-align: center !important;
}
.date-input {
  margin-left: 3rem;
}
.showResultBtn {
  width: 200px;
  display: flex;
  justify-content: center;

  margin: 70px auto;
}

.inputField td {
  border: 0;
}

.inputField {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid gray;
  background-color: #e9ecef;
  margin: 0px auto;
  padding: 15px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  width: 100%;
  max-width: 800px;
  transition: all 0.3s ease;
}

.textField label {
  width: 100%;
  padding: 0 5px;
  font-size: 16px;

}

.textField input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 10px;
  transition: border-color 0.3s ease;
}

.textField input:focus {
  border-color: #333;
}

/* Responsive for tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .textField label {
    font-size: 18px;
    margin-left: 0px;
    display: block;
  }

  .textField input {
    padding: 5px;
  }
}

/* Responsive for larger screens */
@media (min-width: 970px) {
  .inputField {
    flex-direction: row;
    justify-content: space-around;
  }

  .textField label {
    width: 150px;
    font-size: 20px;
  }

  .textField input {
    width: 260px;
  }
}

