#tableAndContentToPrint {
  padding-bottom: 50px !important;
  border: 2px solid ghostwhite;
}
@media print {
  /* Hide elements that you don't want to print */
  body * {
    padding: 0px 5px;
    margin: 0;
  }
  .App-header {
    display: none;
  }
  .table,
  .showResultBtn,
  .printBtn,
  .support-allocation-table,
  .saveBtn,
  .backBtn {
    display: none;
  }

  .question {
    font-size: 0.5rem;
  }

  td,
  tr {
    padding: 1px !important;
    margin: 0 !important;
    border: 0.5px solid rgb(95, 95, 101);
    height: 0.2% !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  /* Display the result table */
  .result {
    display: table;
    font-size: 0.7rem;
    width: 100%;
    margin: 1px;
  }

  #tableAndContentToPrint {
    display: table;
    width: 100%;
    border: none;
  }
  .result-title {
    display: inline !important;
    padding-top: 0px;
  }
  #tableToPrint {
    width: 100%;
    display: table;
    border: none;
    box-shadow: none;
    text-shadow: none;
    outline: none;
  }
  #pageBorder {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #024457;
    border-radius: 10px;
  }

  @page {
    size: A4;
    margin: 1cm 1cm;
  }

  .question-container {
    page-break-inside: avoid;
    display: table;
    align-items: center !important;
  }
  .answer-text {
    padding: 1px 10px !important;
  }

  .question {
    font-size: 0.6rem;
    padding: 1px 1px !important;
  }
  .finalTable {
    margin-left: 20px !important ;
    page-break-after: always;
  }
  .question:last-child {
    page-break-after: always;
  }

  .close-after-last-question {
    page-break-after: always;
  }
  .summary,
  .summary td {
    font-size: 1rem;
  }
}
