.resultHeader{
    font-size: 20px;
    color: blue;
}
.error-msg {
    color: red;
    padding: 10px;
    text-align: center;
    width: 37rem;
    margin-left: 27rem;
}
.btn-primary {
    margin-bottom: 50px;
    margin-top: 2rem;
    color: blue;
    padding: 10px;
    width: 13rem;
    border-radius: 5px;
}